<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Productos Comprados</h3>
  </div>
  <div class="modal-body">
	<div class="row">
	<% purchase.shopping_cart.shopping_cart_items.each do |sci| %>
		<div class="span3">
			<div class="well" style="text-align:center">
				<b><%= sci.product_stock_size.product.name.capitalize %></b>
				<div style="margin-top:10px"><%= image_tag(sci.product_stock_size.product.product_images.first.photo.url(:index_dress)) %></div>
				<div style="margin-top:10px">
			  	<strong>Precio:</strong> <%= number_to_currency sci.product_stock_size.product.price %> | 
				<strong>Talla:</strong> <%= sci.product_stock_size.size.name unless sci.product_stock_size.size.nil? %> | 
				<strong>Color:</strong> <%= sci.product_stock_size.color.to_s if !sci.product_stock_size.color.nil? %>
				</div>
			</div>
		</div>
	<% end %>
	</div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
  </div>
</div>