<div class="row">
<% @shopping_cart.shopping_cart_items.each do |sci| %>
	<div class="span3">
		<div class="well" style="text-align:center">
			<%= link_to raw('&times;'), store_admin_remove_product_from_cart_path(id: @supplier_account.id, shopping_cart_id: @shopping_cart.id, shopping_cart_item_id: sci.id),
				 	method: 'put', class: "close" %>
			<b><%= sci.product_stock_size.product.name.capitalize %></b>
			<div style="margin-top:10px"><%= image_tag(sci.product_stock_size.product.product_images.first.photo.url(:index_dress)) %></div>
			<div style="margin-top:10px">
		  	<strong>Precio:</strong> <%= number_to_currency sci.product_stock_size.product.price %> | 
			<strong>Talla:</strong> <%= sci.product_stock_size.size.name unless sci.product_stock_size.size.nil? %> | 
			<strong>Color:</strong> <%= sci.product_stock_size.color.to_s if !sci.product_stock_size.color.nil? %>
			</div>
		</div>
	</div>
<% end %>
</div>