<script>
	$(function() {
		$("#barcode").focus();
	});
</script>
	
<div class="pull-right">
	<div class="input-group form-inline">
	<%= collection_select :warehouse, :id, @supplier_account.warehouses, :id, :name, { selected: @warehouse.id }, { onchange: 'update_warehouse()' } %>
	<%= link_to 'Ingresar Datos del Día', new_supplier_account_daily_store_datum_path(supplier_account_id: @supplier_account.id), class: 'btn btn-default' %>
	<%= link_to 'Caja Chica', new_supplier_account_petty_cash_path(supplier_account_id: @supplier_account.id), class: 'btn btn-success' %>
	</div>
</div>
<h2><% unless @supplier_account.logo.blank? %>
		<%= image_tag @supplier_account.logo.url(:medium) %>
	<% end %>
</h2>
<%= form_tag(store_admin_add_product_to_cart_from_barcode_path(id: @supplier_account.id, shopping_cart_id: @shopping_cart.id), method: :post, html: {class: 'form-group'}) %>
	<div class="input-group">
		<%= text_field_tag(:barcode, '', placeholder: 'Código del producto', class: "form-control", style: 'font-weight:lighter; width:100%') %>
		<span class="input-group-btn">
			<%= submit_tag("Ingresar", :name => nil, class: "btn btn-default") %>
	 	</span>									       
	</div><!-- /input-group -->
</form>
<hr>
<% unless @shopping_cart.nil? or @shopping_cart.price == 0 %>
	<%= render 'shopping_cart' %>
	<%= nested_form_for(@purchase_aux, url: store_admin_generate_purchase_path(id: @supplier_account.id, shopping_cart_id: @shopping_cart.id, warehouse_id: @warehouse.id), method: :put, html: { class: 'form-horizontal' }) do |f| %>
		<div class="well" style="margin-top:20px">
			<b>Sub-Total: <%= number_to_currency @shopping_cart.price, precision: 0 %></b>
		</div>
		<div class="well" style="margin-top:20px;">
			<b>Descuento
				<%= text_field_tag(:percentage_discount, '', placeholder: '% de descuento', class: "form-control", 
									onchange: 'calculate_subtotal_with_discount(this, '+@shopping_cart.price.to_s+', "percentage")') %> o 
				<%= text_field_tag(:absolute_discount, '', placeholder: 'Monto de descuento', class: "form-control", 
									onchange: 'calculate_subtotal_with_discount(this, '+@shopping_cart.price.to_s+', "absolute")') %>
			</b><br />
			<i>Completar solo una alternativa (porcentaje o un valor absoluto). Si no hay descuento dejar en blanco.</i>
		</div>
		<div class="well" style="margin-top:20px;">
			<b>GiftCard
				<%= text_field_tag(:gifcard_barcode, '', placeholder: 'Código de Barra de la GiftCard', class: "form-control", 
									onchange: 'get_gift_card_value()') %>
									<span id="gift_card_message"></span>
		</div>
		<div class="well" style="margin-top:20px">
			<h4>Datos del cliente</h4>
			<%= render 'customer_fields' %>
		</div>
		<div class="well" style="margin-top:20px">
			<b>Total a pagar: <span id="total"><%= number_to_currency @shopping_cart.price, precision: 0 %></span></b>
		</div>
		
		<div class="well" style="margin-top:20px">
			<h4>Datos del Pago</h4>
			<div class="control-group" style="margin-bottom:5px">
				<%= render 'payment_fields', :f => f %>
			</div>
			<div class="control-group">
			    <%= label_tag :invoice_number, 'Número de boleta', :class => 'control-label' %>
			    <div class="controls">
			      <%= text_field_tag(:invoice_number, (Purchase.all.size > 0 ? Purchase.all.last.invoice_number.to_i + 1 : ''), 
										placeholder: 'Número de boleta', class: "form-control") %>
			    </div>
		  	</div>
		</div>
		<div class="well" style="margin-top:20px">
			<%= submit_tag "Pagar", class: "btn btn-primary", style: 'width:100%' %> 
		</div>
	<% end %>
<% else %>
	<div class="well">
		No se han agregado productos
	</div>
<% end %>