<script>
	$(function() { $("#q").focus(); });
</script>

<h1>Transacciones</h1>
<%= form_tag(request.fullpath, :method => "get", :html => {class: 'form-search'}) do %>
	<%= text_field_tag(:q, @q, class: "input-medium search-query", placeholder: "Código de compra o correo del comprador (busca todo el historial)", style: "width:50%") %>
	<%= submit_tag t('search'), class: "btn btn-primary" %>
	<%= link_to 'Ver hoy', store_admin_purchase_details_path, class: "btn" %>
<% end %>
<%= render 'layouts/date_range_selector' %>
<% unless @purchases.size == 0 %>
<p>Total Vendido: <%= number_to_currency @purchases.sum(:paid_amount), precision: 0 %></p>
<table class="table table-striped">
  <thead>
    <tr>
	  <th>Código Compra</th>
      <th>Fecha</th>
      <th>Monto</th>
      <th>Medio de Pago</th>
      <th>Correo Comprador</th>
	  <th># Productos</th>
	  <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
		<td><%= purchase.id %></td>
        <td><%=l purchase.created_at.in_time_zone(@time_zone) %></td>
        <td><%= number_to_currency purchase.shopping_cart.price, precision: 0 %></td>
        <td><%= purchase.payment_method.name unless purchase.payment_method.nil? %></td>
        <td><%= purchase.buyer_email %></td>
        <td><%= purchase.shopping_cart.shopping_cart_items.sum(:quantity) %></td>
		<td><a href="#myModal" role="button" class="btn btn-mini" data-toggle="modal">Ver Productos Comprados</a></td>
		<%= render 'purchase_detail_modal', purchase: purchase %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="well">
	No se han encontrado compras
</div>
<% end %>