<h1>Reportes</h1>
<ul class="nav nav-tabs nav-stacked">
	<li>
		<%= link_to 'Venta Diario', store_admin_report_daily_path %>
	</li>
	<li>
		<%= link_to 'Gráficos de Venta', store_admin_report_sales_charts_path %>
	</li>
	<li>
		<%= link_to 'Inventario', store_admin_report_inventory_path %>
	</li>
	<li>
		<%= link_to 'Ingresos y Gastos', store_admin_report_sales_and_costs_path %>
	</li>
	<li>
		<%= link_to 'Gastos por Pagar', store_admin_report_accounts_payable_path %>
	</li>
</ul>