<h1>Reporte de Ingresos y Gastos</h1>
<div class="pull-right">
	<div class="input-group form-inline">
		<%= link_to 'Ver por Mes', store_admin_report_sales_and_costs_path(id: @supplier_account.id, from: @from, to: @to, interval: 'month'), class: 'btn' %> 
		<%= link_to 'Ver por Semana', store_admin_report_sales_and_costs_path(id: @supplier_account.id, from: @from, to: @to, interval: 'week'), class: 'btn' %> 
		<%= link_to 'Ver por Día', store_admin_report_sales_and_costs_path(id: @supplier_account.id, from: @from, to: @to, interval: 'day'), class: 'btn' %> 
	</div>
</div>
<%= render 'layouts/date_range_selector' %>
<hr>
<% result = Hash.new %>
<table class="table">
	<thead>
		<tr>
			<th></th>
			<% d = @from.to_datetime %>
			<% begin %>
				<th>
					<% if params[:interval] == 'month' %>
						<%=l d.in_time_zone(@time_zone), format: :month %>
					<% elsif params[:interval] == 'day'%>
						<%=l d.in_time_zone(@time_zone), format: :short_day %>
					<% else %>
						<%=l d.in_time_zone(@time_zone), format: :week %>
					<% end %>
				</th>
				<% d = d + @interval %>
			<% end while d < @to.to_datetime %>
		</tr>
	</thead>
	<tbody>
		<tr class="success">
			<td><b>Ingresos</b></td>
			<% aux_hash_income = Hash.new %>
			<% d = @from.to_datetime %>
			<% begin %>
				<% aux_hash_income[d] = @supplier_account.purchases.joins(:payments).where('payments.created_at > ? and payments.created_at < ? and purchases.warehouse_id = ?', d, d + @interval, @warehouse.id).sum('payments.amount') %>
				<td><%= link_to raw(number_to_currency aux_hash_income[d], precision: 0), 
						supplier_account_purchases_path(supplier_account_id: @supplier_account.id, from: d, to: d + @interval), target: '_blank' %></td>
				<% d = d + @interval %>
			<% end while d < @to.to_datetime %>
			<% result[:income] = aux_hash_income %>
		</tr>
		<tr>
			<td># Ventas</td>
			<% d = @from.to_datetime %>
			<% begin %>
				<td><%= number_with_delimiter @supplier_account.purchases
						.where('purchases.created_at > ? and purchases.created_at < ? and purchases.warehouse_id = ?', d, d + @interval, @warehouse.id).count, precision: 0 %></td>
					<% d = d + @interval %>
			<% end while d < @to.to_datetime %>
		</tr>
		<tr>
			<td>Productos Vendidos</td>
			<% d = @from.to_datetime %>
			<% begin %>
				<td><%= number_with_delimiter @supplier_account.purchases.joins(shopping_cart: :shopping_cart_items)
						.where('purchases.created_at > ? and purchases.created_at < ? and purchases.warehouse_id = ?', d, d + @interval, @warehouse.id).sum('shopping_cart_items.quantity'), precision: 0 %></td>
				<% d = d + @interval %>
			<% end while d < @to.to_datetime %>
		</tr>
		<tr class="error">
			<td>Gastos Pagados</td>
			<% aux_hash_expenses = Hash.new %>
			<% d = @from.to_datetime %>
			<% begin %>
				<% aux_hash_expenses[d] = @supplier_account.expenses
								.where('pay_date >= ? and pay_date < ? and paid = true', d - @hours_off_set.hours, d + @interval - @hours_off_set.hours).sum('amount') %>
				<td><%= number_to_currency aux_hash_expenses[d], precision: 0 %></td>
				<% d = d + @interval %>
			<% end while d < @to.to_datetime %>
			<% result[:expenses] = aux_hash_expenses %>
		</tr>
		<% @supplier_account.expense_types.each do |expense_type| %>
			<tr style="padding:0px 0px 0px 0px;">
				<td><span style="padding-left:10px; font-style:italic"><%= expense_type.name %> pagados</span></td>
				<% d = @from.to_datetime %>
				<% begin %>
					<% aux = @supplier_account.expenses
									.where('pay_date >= ? and pay_date < ? and paid = true and expense_type_id = ?', d - @hours_off_set.hours, d + @interval - @hours_off_set.hours, expense_type.id).sum('amount') %>
					<td><span style="padding-left:10px;"><%= number_to_currency aux, precision: 0 %></span></td>
					<% d = d + @interval %>
				<% end while d < @to.to_datetime %>
			</tr>
		<% end %>
		<tr class="error">
			<td>Gastos No Pagados</td>
			<% aux_hash_expenses_not_paid = Hash.new %>
			<% d = @from.to_datetime %>
			<% begin %>
				<% aux_hash_expenses_not_paid[d] = @supplier_account.expenses
								.where('pay_date >= ? and pay_date < ? and paid = false', d - @hours_off_set.hours, d + @interval - @hours_off_set.hours).sum('amount') %>
				<td><%= number_to_currency aux_hash_expenses_not_paid[d], precision: 0 %></td>
				<% d = d + @interval %>
			<% end while d < @to.to_datetime %>
			<% result[:expenses_not_paid] = aux_hash_expenses %>
		</tr>
		<% @supplier_account.expense_types.each do |expense_type| %>
			<tr style="padding:0px 0px 0px 0px;">
				<td><span style="padding-left:10px; font-style:italic"><%= expense_type.name %> no pagados</span></td>
				<% d = @from.to_datetime %>
				<% begin %>
					<% aux = @supplier_account.expenses
									.where('pay_date >= ? and pay_date < ? and paid = false and expense_type_id = ?', d - @hours_off_set.hours, d + @interval - @hours_off_set.hours, expense_type.id).sum('amount') %>
					<td><span style="padding-left:10px;"><%= number_to_currency aux, precision: 0 %></span></td>
					<% d = d + @interval %>
				<% end while d < @to.to_datetime %>
			</tr>
		<% end %>
		<tr class="error">
			<td>Productos Pagados</td>
			<% aux_hash_supply_purchase_payments = Hash.new %>
			<% d = @from.to_datetime %>
			<% begin %>
				<% aux_hash_supply_purchase_payments[d] = @supplier_account.providers.joins(supply_purchases: :supply_purchase_payments)
						.where('supply_purchase_payments.pay_date >= ? and supply_purchase_payments.pay_date < ? and paid = true', d - @hours_off_set.hours, d + @interval  - @hours_off_set.hours).sum('supply_purchase_payments.amount') %>
				<td><%= number_to_currency aux_hash_supply_purchase_payments[d], precision: 0 %></td>
				<% d = d + @interval %>
			<% end while d < @to.to_datetime %>
			<% result[:supply_purchase_payments] = aux_hash_supply_purchase_payments %>
		</tr>
		<tr class="info" style="border-top:2px solid black">
			<td>Resultado</td>
			<% d = @from.to_datetime %>
			<% begin %>
				<td><%= number_to_currency (result[:income][d] - result[:expenses][d] - result[:expenses_not_paid][d] - result[:supply_purchase_payments][d]), precision: 0 %></td>
				<% d = d + @interval %>
			<% end while d < @to.to_datetime %>
		</tr>
	</tbody>
</table>