<%= f.fields_for :supply_purchase_product_sizes do |sppz| %>
<div class="control-group">
	<div class="controls">
		<%= sppz.text_field :quantity, placeholder: 'Stock' %>
		<!-- Button to trigger modal -->
		<a href="#myModal" data-toggle="modal"><i class="icon-search"></i></a>
		<%= sppz.text_field :product_stock_size_id, placeholder: 'Código de Interno del Producto' %>		
		<%= sppz.text_field :unit_cost, placeholder: 'Costo en moneda local' %>
	  	<%= sppz.collection_select :currency_id, @supplier_account.currencies, :id, :symbol, {:prompt => 'Moneda', :allow_blank => false} %>
		<%= sppz.link_to_remove 'Eliminar', :class => 'btn btn-default btn-mini' %>
	</div>
</div>
<% end %>

<div>
	<%= f.link_to_add 'Agregar Producto Comprado', :supply_purchase_product_sizes, :class => 'btn btn-primary btn-mini' %>
</div>