<% content_for :content do %>
	<p>¡Felicitaciones por tu compra!</p>
	<p>Productos comprados:</p>
	<ul>
	<% @purchase.shopping_cart.shopping_cart_items.each do |sci| %>
		<li><%= sci.quantity %> <%= sci.product_stock_size.product.name %> <%= sci.product_stock_size.size.name %> <%= sci.product_stock_size.color %></li>
	<% end %>
	</ul>
	<p><%= @purchase.supplier_account.purchase_details_mail_text %></p>
	<% unless @purchase.supplier_account.store_web.blank? %>
		<p>Conoce más de <%= @purchase.supplier_account.name %> en <a href="<%= @purchase.supplier_account.store_web %>"><%= @purchase.supplier_account.store_web %></a></p>
	<% end %>
<% end %>

<%= render "layouts/email" %>