<script>
	$(function() {
		$("#q").focus();
	});
</script>

<%- model_class = Purchase -%>
<div class="pull-right">
	<%= link_to t('create_manual_sale'), new_supplier_account_purchase_path, :class => 'btn btn-primary' %>
</div>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= form_tag(request.fullpath, :method => "get", :html => {class: 'form-search'}) do %>
	<%= text_field_tag(:q, @q, class: "input-medium search-query", placeholder: "Ingresa el ticket de cambio, número de boleta o nombre del cliente", style: "width:50%") %>
	<%= submit_tag t('search'), class: "btn btn-primary" %>
	<%= link_to 'Ver todos', supplier_account_purchases_path(supplier_account_id: @supplier_account.id), class: "btn" %>
<% end %>
<%= render 'layouts/date_range_selector' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:payment_method_id) %></th>
      <th><%= model_class.human_attribute_name(:paid_amount) %></th>
      <th><%= model_class.human_attribute_name(:customer_id) %></th>
      <th><%= model_class.human_attribute_name(:discount) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:invoice_number) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.created_at.in_time_zone(@time_zone).strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= purchase.payment_method.name unless purchase.payment_method.nil?  %></td>
        <td><%= number_to_currency purchase.paid_amount, precision: 0 %></td>
        <td><%= purchase.customer.name unless purchase.customer.nil? %></td>
		<% if purchase.discount_type == 'absolute' %>
        	<td><%= number_to_currency purchase.discount, precision: 0 %></td>
		<% elsif purchase.discount_type == 'percentage' %>
        	<td><%= purchase.discount %>%</td>
		<% else %>
        	<td></td>
		<% end %>
        <td><%= purchase.user.email unless purchase.user.nil? %></td>
        <td><%= purchase.invoice_number %></td>
        <td><%= purchase.status %></td>
        <td>
	      <%= link_to t('view'), supplier_account_purchase_path(supplier_account_id: @supplier_account.id, id: purchase.id), :class => 'btn btn-mini btn-primary' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_supplier_account_purchase_path(supplier_account_id: @supplier_account.id, id: purchase.id), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      supplier_account_purchase_path(supplier_account_id: @supplier_account.id, id: purchase.id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag(supplier_account_purchases_path(format: "csv"), :method => "get", :html => {class: 'form-horizontal', role: 'form'}) do %>
	<%= submit_tag("Descargar Reporte",  class: "btn btn-default btn-sm", "data-loading-text" => "Descargando...") %>
<% end %>
