<%- model_class = Purchase -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:payment_method_id) %>:</strong></dt>
  <dd><%= @purchase.payment_method unless @purchase.payment_method.nil? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supplier_account_id) %>:</strong></dt>
  <dd><%= @purchase.supplier_account.name unless @purchase.supplier_account.nil? %></dd>
  <% unless @purchase.discount.blank? %>
	  <dt><strong><%= t 'subtotal' %>:</strong></dt>
	  <dd><%= number_to_currency(@purchase.shopping_cart.price, precision: 0) %></dd>
	  <dt><strong><%= model_class.human_attribute_name(:discount) %>:</strong></dt>
	  <% if @purchase.discount_type == 'absolute' %>
	 	<dd><%= number_to_currency @purchase.discount, precision: 0 %></dd>
	  <% elsif @purchase.discount_type == 'percentage' %>
	 	<dd><%= @purchase.discount %>%</dd>
      <% else %>
	 	<dd>n/a</dd>
	  <% end %>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:paid_amount) %>:</strong></dt>
  <dd>
	<%= number_to_currency @purchase.paid_amount, precision: 0 %>
	<ul>
	<% @purchase.payments.each do |p| %>
		<li><i><%= p.payment_method.name %> <%= number_to_currency p.amount, precision: 0 %></i></li>
	<% end %>
	</ul>
  </dd>
<% unless @purchase.customer.nil? %>
  <dt><strong><%= model_class.human_attribute_name(:customer_id) %>:</strong></dt>
  <dd><%= @purchase.customer.name unless @purchase.customer.nil? %></dd>
<% end %>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @purchase.user.email unless @purchase.user.nil? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:invoice_number) %>:</strong></dt>
  <dd><%= @purchase.invoice_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:change_ticket_barcode) %>:</strong></dt>
  <dd><%= @purchase.change_ticket_barcode %><br />
	  <%= image_tag("/system/change_tickets/"+@purchase.supplier_account.name+'/'+@purchase.id.to_s+"_barcode.png") %><br />
  </dd>
</dl>

<%= form_tag(supplier_account_purchase_return_product_path(supplier_account_id: @supplier_account.id, id: @purchase.id), :method => "post", :html => {class: 'form-inline'}) do %>
<h2><%=t 'products' %></h2>
<table class="table">
	<thead>
    <tr>
      <th><%=t 'product' %></th>
      <th><%=t 'size' %></th>
      <th><%=t 'color' %></th>
      <th><%=t 'quantity' %></th>
      <th><%=t 'price' %></th>
      <th><%=t 'paid_amount' %></th>
      <th><%=t 'status' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
	<% @purchase.shopping_cart.shopping_cart_items.each do |sci| %>
    <tr>
		<td><%= sci.product_stock_size.product.name %></td>
		<td><%= sci.product_stock_size.size.name %></td>
		<td><%= sci.product_stock_size.color %></td>
		<td><%= sci.quantity %></td>
		<td><%= number_to_currency(sci.product_stock_size.product.price, precision: 0) %></td>
		<td><%= number_to_currency(@purchase.reduce_applicable_discount(sci.product_stock_size.product.price), precision: 0) %></td>
      	<td><%= sci.status.blank? ? 'OK' : t(sci.status) %></td>
		<td>
			<% if sci.status == 'refunded' %>
				<%= link_to t('view_gift_card'), supplier_account_gift_card_path(supplier_account_id: @supplier_account.id, id: sci.gift_card.id), :class => 'btn btn-warning' %>
			<% else %>
				<%= check_box_tag("gift_card[shopping_cart_item_ids][]", sci.id) %>
			<% end %>
		</td>
    </tr>
  <% end %>
  </tbody>
</table>
<div style="text-align:right">
	<%= submit_tag('Devolver Productos', class: "btn btn-success", style: 'vertical-align:top') %>
</div>
<% end %>

<div class="form-actions">
  <%= link_to t('print_detail'), supplier_account_purchase_path(supplier_account_id: @supplier_account.id, id: @purchase.id, :format => 'pdf'), 
				:class => 'btn btn-primary', target: '_blank' %>
  <%= link_to t('print_change_ticket'), supplier_account_purchase_change_ticket_path(supplier_account_id: @supplier_account.id, :format => 'pdf'), 
				:class => 'btn btn-primary', target: '_blank'  %>
  <%= link_to t('view_all_purchases'), supplier_account_purchases_path(supplier_account_id: @supplier_account.id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_supplier_account_purchase_path(supplier_account_id: @supplier_account.id, id: @purchase.id), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              supplier_account_purchase_path(supplier_account_id: @supplier_account.id, id: @purchase.id),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
