<%= form_for [@supplier_account, @gift_card], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :supplier_account_id, :value => @supplier_account.id %>
  <div class="control-group">
    <%= f.label :customer_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :barcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :barcode, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :valid_until, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :valid_until, :class => 'text_field datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                supplier_account_gift_cards_path(supplier_account_id: @supplier_account.id), :class => 'btn' %>
  </div>
<% end %>
