<%= form_for [@supplier_account, @gift_card], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :supplier_account_id, :value => @supplier_account.id %>
  <div class="control-group">
    <%= f.label :customer_id, 'Correo Cliente Asociado', :class => 'control-label' %>
    <div class="controls">
      <%= autocomplete_field_tag :customer_email, (@gift_card.customer.email unless @gift_card.customer.nil?), supplier_accounts_autocomplete_customer_email_path, class: 'form-control' %> Solo se puede asociar correos de clientes ya creados.
    </div>
  </div>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :valid_until, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :valid_until, :class => 'text_field datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
	  <%= f.select :status, options_for_select([["Válida", "valid"], ["Usada", "used"]], @gift_card.status) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                supplier_account_gift_cards_path(supplier_account_id: @supplier_account.id), :class => 'btn' %>
  </div>
<% end %>
