<%- model_class = Customer -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:rut) %></th>
      <th><%= model_class.human_attribute_name(:birthday) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, supplier_account_customer_path(supplier_account_id: @supplier_account.id, id: customer.id) %></td>
        <td><%= customer.rut %></td>
        <td><%= customer.birthday.strftime("%Y-%m-%d") unless customer.birthday.nil? %></td>
        <td><%= customer.phone_number %></td>
        <td><%= customer.email %></td>
        <td><%=l customer.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_supplier_account_customer_path(supplier_account_id: @supplier_account.id, id: customer.id), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      supplier_account_customer_path(supplier_account_id: @supplier_account.id, id: customer.id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @customers.total_pages > 1 %>
<div class="well apple_pagination">
	<%= will_paginate @customers %>
</div>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_supplier_account_customer_path(supplier_account_id: @supplier_account.id),
            :class => 'btn btn-primary' %>
