<%= form_for [@supplier_account, @size], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
	  <%= f.hidden_field :supplier_account_id, :value => @supplier_account.id %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                supplier_account_sizes_path(@supplier_account), :class => 'btn' %>
  </div>
<% end %>
