<%- model_class = Expense -%>
<div class="pull-right">
	<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_supplier_account_expense_path(supplier_account_id: @supplier_account.id),
	            :class => 'btn btn-primary' %>
</div>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= render 'layouts/date_range_selector' %>
<%= render 'expenses_table', expenses: @expenses  %>

<% if @expenses.total_pages > 1%>
<div class="well apple_pagination">
	<%= will_paginate @expenses %>
</div>
<% end %>

<%= link_to 'Descargar Gastos', supplier_account_expenses_path(supplier_account_id: @supplier_account.id, format: :xls), class: "btn" %>