<%- model_class = Expense -%>
<div class="pull-right">
	<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_supplier_account_expense_path(supplier_account_id: @supplier_account.id),
	            :class => 'btn btn-primary' %>
</div>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= render 'layouts/date_range_selector' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:expense_type_id) %></th>
      <th><%= model_class.human_attribute_name(:payment_type) %></th>
      <th><%= model_class.human_attribute_name(:paid) %></th>
      <th><%= model_class.human_attribute_name(:paid_by) %></th>
      <th><%= model_class.human_attribute_name(:pay_date) %></th>
      <th><%= model_class.human_attribute_name(:comments) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.currency.symbol %> <%= number_to_currency expense.amount, precision: 0 %></td>
        <td><%= expense.expense_type.name %></td>
        <td><%= expense.payment_type %></td>
        <td><%= expense.paid ? '✓' : '☓' %></td>
        <td><%= expense.paid_by.blank? ? 'No asignado' : expense.paid_by %></td>
        <td><%= expense.pay_date.strftime('%Y-%m-%d') unless expense.pay_date.blank? %></td>
        <td><%= expense.comments %></td>
        <td><%= expense.created_at.in_time_zone(@time_zone).strftime('%Y-%m-%d') %></td>
        <td>
     	  <%= link_to t('view'), supplier_account_expense_path(supplier_account_id: @supplier_account.id, id: expense.id), :class => 'btn btn-mini btn-primary' %>	
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_supplier_account_expense_path(supplier_account_id: @supplier_account.id, id: expense.id), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      supplier_account_expense_path(supplier_account_id: @supplier_account.id, id: expense.id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @expenses.total_pages > 1%>
<div class="well apple_pagination">
	<%= will_paginate @expenses %>
</div>
<% end %>

<%= link_to 'Descargar Gastos', supplier_account_expenses_path(supplier_account_id: @supplier_account.id, format: :xls), class: "btn" %>