<%= nested_form_for [@supplier_account, @product], :html => {:multipart => true, :class => 'form-horizontal' } do |f| %>
<%= render 'layouts/form_errors', object: @product %>
<%= f.hidden_field :supplier_account_id, :value => @supplier_account.id %>
<h2>Información General</h2>
	<div class="control-group">
	  <%= f.label :name, t('name'), :class => 'control-label' %>
	  <div class="controls">
	    <%= f.text_field :name, :class => 'text_field' %>
	  </div>
	</div>
	<div class="control-group">
	  <%= f.label :price, t('price'), :class => 'control-label' %>
	  <div class="controls">
	    <%= f.text_field :price, :class => 'text_field' %>
	  </div>
	</div>
	<div class="control-group">
	  <%= f.label :description, t('description'), :class => 'control-label' %>
	  <div class="controls">
	    <%= f.text_area :description, rows: 4, :class => 'text_field' %>
	  </div>
	</div>
<h2>Categorías</h2>
	<%= render 'product_categories', :f => f %>
<h2>Modelos</h2>
<p style="margin-top:-20px">Importante: cada vez que se agrega una talla/color, se genera un código de barra. <b>Nunca elimines una talla/color</b></p>
	<%= render 'product_stock_size_fields', :f => f %>
<h2>Imágenes</h2>
	<%= render 'product_image_fields', :f => f %>			
<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              supplier_account_products_path, :class => 'btn' %>
</div>
<% end %>
