<script>
	$(function() {
		$("#q").focus();
	});
</script>

<%- model_class = Product -%>
<div class="pull-right">
	<%= link_to t('.new', :default => t("helpers.links.new"))+' '+t('product'), new_supplier_account_product_path, :class => 'btn btn-primary' %>
</div>
<div class="page-header">
  <h1>Productos</h1>
</div>
<%= form_tag(request.fullpath, :method => "get", :html => {class: 'form-search'}) do %>
	<%= text_field_tag(:q, @q, class: "input-medium search-query", placeholder: "Ingresa el código de barra, Nombre, Descripción, Color o Precio", style: "width:50%") %>
	<%= submit_tag t('search'), class: "btn btn-primary" %>
	<%= link_to 'Ver todos', supplier_account_products_path(supplier_account_id: @supplier_account.id), class: "btn" %>
<% end %>

<% unless @products.size == 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t 'name' %></th>
      <th><%=t 'price' %></th>
      <th><%=t 'cost' %></th>
      <th><%=t 'supplier_account' %></th>
      <th><%=t 'stock' %></th>
      <th><%=t 'created_at' %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, supplier_account_product_path(supplier_account_id: @supplier_account.id, id: product.id) %></td>
        <td><%= number_to_currency product.price, precision: 0 %></td>
        <td><%= number_to_currency product.cost, precision: 0 %></td>
        <td><%= product.supplier_account.name %></td>
		<td><%= raw product.product_stock_sizes.map{ |psz| (psz.warehouse.blank? ? 'Sin bodega' : psz.warehouse.name)+': '+psz.stock.to_s+' - '+psz.size.name+' - '+psz.color }.join('<br />') %></td>
        <td><%=l product.created_at.in_time_zone(@time_zone) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_supplier_account_product_path(supplier_account_id: @supplier_account.id, id: product.id), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      supplier_account_product_path(supplier_account_id: @supplier_account.id, id: product.id),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="well">
	No se han encontrado productos para esta búsqueda.
</div>
<% end %>
<div class="well">
	<h3>Descargar reporte</h3>
	<%= form_tag(supplier_account_products_path(format: "csv"), :method => "get", :html => {class: 'form-horizontal', role: 'form'}) do %>
		<%= submit_tag('Descargar Reporte', class: "btn btn-default btn-sm", "data-loading-text" => "Descargando...") %>
	<% end %>
</div>
<div class="well">
	<h3>Carga masiva de productos</h3>
	<p>Solo se pueden cargar en archivo .csv</p>
	<%= form_tag import_supplier_account_products_path, multipart: true do %>
	  <%= file_field_tag :file %>
	  <%= submit_tag('Importar', class: "btn btn-default btn-sm", "data-loading-text" => "Descargando...") %>
	<% end %>
</div>