<script>
	$(function() {
		$("#q").focus();
	});
</script>

<%- model_class = Product -%>
<div class="pull-right">
	<%= link_to t('.new', :default => t("helpers.links.new"))+' '+t('product'), new_supplier_account_product_path, :class => 'btn btn-primary' %>
</div>
<div class="page-header">
  <h1>Productos</h1>
</div>
<div class="row">
	<div class="span12">
		<%= form_tag(request.fullpath, :method => "get", :html => {class: 'form-search'}) do %>
			<%= text_field_tag(:q, @q, class: "input-medium search-query", placeholder: "Ingresa el código de barra, Código Interno, Nombre, Descripción, Color o Precio", style: "width:60%") %>
			<%= submit_tag t('search'), class: "btn btn-primary" %>
			<%= link_to 'Ver todos', supplier_account_products_path(supplier_account_id: @supplier_account.id), class: "btn" %>
		<% end %>
	</div>
</div>
<% unless @products.size == 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:20%"><%=t 'name' %></th>
      <th><%=t 'price' %></th>
      <th><%=t 'average_cost' %></th>
      <th><%=t 'category' %></th>
      <th><%=t 'stock' %></th>
      <th><%=t 'distributed_in_warehouses' %></th>
      <th><%=t 'created_at' %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, supplier_account_product_path(supplier_account_id: @supplier_account.id, id: product.id) %></td>
        <td><%= number_to_currency product.price, precision: 0 %></td>
        <td><%= number_to_currency product.product_stock_sizes.joins(:supply_purchase_product_sizes).average(:unit_cost) , precision: 0 %></td>
		<td><%= raw product.product_categories.map{ |cat| cat.name }.join('<br />') %></td>
		<td><%= raw product.product_stock_sizes.map{ |psz| psz.stock.to_s+' - '+psz.size.name+' - '+psz.color }.join('<br />') %></td>
		<td>
			<% aux =  WarehouseProductSizeStock.joins(:product_stock_size).where("product_stock_sizes.product_id = ?", product.id) %>
 			<ul>
			<% if aux.size > 0 %>
				<% aux.each do |wpss| %>
					<li><%= wpss.stock %> en <%= wpss.warehouse.name %> de <%= wpss.product_stock_size.size.name %> <%= wpss.product_stock_size.color %> 
						<br /><%= wpss.product_stock_size.barcode %> <%= wpss.product_stock_size.internal_code.blank? ? '' : '/ '+ wpss.product_stock_size.internal_code %></li>
			    <% end %>
			<% else %>
				<li class="text-error">No distribuído</li>
			<% end %>
	    	</ul>
		</td>
        <td><%= product.created_at.in_time_zone(@time_zone).strftime('%Y-%m-%d') %></td>
        <td>
          <%= link_to t('view'), supplier_account_product_path(supplier_account_id: @supplier_account.id, id: product.id), :class => 'btn btn-mini btn-primary' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_supplier_account_product_path(supplier_account_id: @supplier_account.id, id: product.id), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="well">
	No se han encontrado productos para esta búsqueda.
</div>
<% end %>
<% if @products.total_pages > 1 %>
<div class="well apple_pagination">
	<%= will_paginate @products %>
</div>
<% end %>
<%= link_to 'Descargar Base de Productos en Bodegas', supplier_account_products_path(supplier_account_id: @supplier_account.id, format: :xls), class: "btn" %>
<div class="well" style="margin-top:20px">
	<h3>Carga masiva de productos</h3>
	<p>El archivo que subas debe tener el mismo formato que <a href="/import_example.xls">este archivo ejemplo</a></p>
	<%= form_tag import_supplier_account_products_path, multipart: true do %>
	  <%= file_field_tag :file %>
	  <%= submit_tag('Importar', class: "btn btn-default btn-sm", "data-loading-text" => "Descargando...") %>
	<% end %>
</div>