<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
	  	<% if @supplier_account.blank? %>
	  		<%= link_to 'InventarioLibre.com v2', user_root_path, class: 'brand' %>	  
		<% else%>
			<%= link_to @supplier_account.name, user_root_path, class: 'brand' %>	  
		<% end %>
	  	<% if user_signed_in? %>
			<% unless @supplier_account.nil? or @supplier_account.id.nil? %>
				<ul class="nav navbar-nav">
					<% if current_user.store_admin_privileges.include? StoreAdminPrivilege.find_by_name("Usar Punto de Venta") %>
						<li class="<%= 'active' if params[:action] == 'point_of_sale' %>"><%= link_to 'Punto de Venta', point_of_sale_path(id: @supplier_account.id) %></li>
					<% end %>
					<% if current_user.store_admin_privileges.include? StoreAdminPrivilege.find_by_name("Crear Productos") %>
						<li class="<%= 'active' if params[:controller] == 'products' %>"><%= link_to 'Gestión de Productos', supplier_account_products_path(supplier_account_id: @supplier_account.id) %></a></li>
					<% end %>
					<!-- TODO: Agregar filtros de privilegios -->
					<li class="<%= 'active' if params[:controller] == 'customers' %>"><%= link_to 'Clientes', supplier_account_customers_path(supplier_account_id: @supplier_account.id) %></li>
					<li class="<%= 'active' if params[:controller] == 'purchases' %>"><%= link_to 'Ventas', supplier_account_purchases_path(supplier_account_id: @supplier_account.id) %></li>
					<li class="<%= 'active' if params[:controller] == 'expenses' %>"><%= link_to 'Gastos', supplier_account_expenses_path(supplier_account_id: @supplier_account.id) %></li>
					<% if current_user.store_admin_privileges.include? StoreAdminPrivilege.find_by_name("Ver Reportes") %>
						<li class="<%= 'active' if params[:action].include? 'report' %>"><%= link_to 'Reportes', store_admin_reports_path(id: @supplier_account.id) %></li>
					<% end %>
					<li class="<%= 'active' if params[:action] == 'inventory_reconciliation' %>"><%= link_to 'Consolidación de Inventario', inventory_reconciliation_path(id: @supplier_account.id) %></li>
				</ul>
			<% end %>
			<ul class="nav navbar-nav navbar-right pull-right">
	        	<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="true">Tu Cuenta <b class="caret"></b></a>
		          <ul class="dropdown-menu">
					<% if user_signed_in? and current_user.is_admin? %>
					<li><%= link_to 'Administrar Tiendas', supplier_accounts_path %></li>
					<% end %>
					<% unless @supplier_account.nil? or @supplier_account.id.nil? %>
						<% if current_user.store_admin_privileges.include? StoreAdminPrivilege.find_by_name("Administrar Usuarios") %>
							<li><%= link_to 'Administrar '+@supplier_account.name, store_admin_menu_path(id: @supplier_account.id) %></li>
						<% end %>
					<% end %>
					<li><%= link_to 'Cambiar clave', edit_user_registration_path %></li>
					<li role="presentation" class="divider"></li>
					<li><%= link_to 'Salir de '+current_user.email, destroy_user_session_path, method: :delete, :rel => 'nofollow' %></li>
		          </ul>
		        </li>
	      	</ul>
	  	<% else %>
			<ul class="nav navbar-nav navbar-right pull-right">
				<li><%= link_to 'Entrar', new_session_path(resource_name) %></li>
				<li><%= link_to 'Registrase', new_user_registration_path %></li>
			</ul>
	 	<% end %>
    </div>
  </div>
</div>