<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
	  	<% if @supplier_account.blank? %>
	  		<%= link_to 'store_admin.com', user_root_path, class: 'brand' %>	  
		<% else%>
			<%= link_to @supplier_account.name, user_root_path, class: 'brand' %>	  
		<% end %>
	  	<% if user_signed_in? %>
			<% unless @supplier_account.blank? %>
				<ul class="nav navbar-nav">
					<li><%= link_to 'Punto de Venta', point_of_sale_path(id: @supplier_account.id) %></li>
					<li><%= link_to 'Gestión de Productos', supplier_account_products_path(supplier_account_id: @supplier_account.id) %></a></li>
					<li><%= link_to 'Reportes', store_admin_reports_path(id: @supplier_account.id) %></li>
					<li><%= link_to 'Tallas', supplier_account_sizes_path(supplier_account_id: @supplier_account.id) %></li>
					<li><%= link_to 'Categorías', supplier_account_product_categories_path(supplier_account_id: @supplier_account.id) %></li>
					<li><%= link_to 'Usuarios', supplier_account_path(id: @supplier_account.id) %></li>
				</ul>
			<% end %>
			<ul class="nav navbar-nav navbar-right pull-right">
	        	<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="true">Tu Cuenta <b class="caret"></b></a>
		          <ul class="dropdown-menu">
					<li><%= link_to 'Cambiar clave', edit_user_registration_path %></li>
					<li role="presentation" class="divider"></li>
					<li><%= link_to 'Salir de '+current_user.email, destroy_user_session_path, method: :delete, :rel => 'nofollow' %></li>
		          </ul>
		        </li>
	      	</ul>
	  	<% else %>
			<ul class="nav navbar-nav navbar-right pull-right">
				<li><%= link_to 'Entrar', new_session_path(resource_name) %></li>
				<li><%= link_to 'Registrase', new_user_registration_path %></li>
			</ul>
	 	<% end %>
    </div>
  </div>
</div>